<progress-bar></progress-bar>

<div class="modal-wrap">
  <mat-toolbar-row class="padding-lr-0 mb-3">
    <h2 class="mb-2">{{ 'USER.ADD_USER' | translate }}</h2>
    <div class="close-modal">
      <mat-icon (click)="dialogRef.close()" aria-label="CANCEL">close</mat-icon>
    </div>
  </mat-toolbar-row>

  <form
    id="userAddForm"
    [formGroup]="userAddForm"
    class="filter-box"
    fxLayout="column"
    fxLayoutWrap="wrap"
    (submit)="addUser()"
  >
    <mat-card>
      <mat-card-content fxLayout="row wrap" fxFlex.xs="column wrap" fxFlex.sm="column wrap">
        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'USER.FULL_NAME' | translate }}</mat-label>
          <input matInput placeholder="{{ 'USER.FULL_NAME' | translate }}" formControlName="fullName" />
          <mat-error *ngIf="userAddForm.controls['fullName'].hasError('required')">
            {{ 'USER.FULL_NAME_IS_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'USER.USERNAME' | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'USER.USERNAME' | translate }}"
            formControlName="username"
            autocomplete="off"
          />
          <mat-error *ngIf="userAddForm.controls['username'].invalid">
            <ng-container *ngIf="userAddForm.controls['username'].hasError('required')">
              {{ 'USER.USERNAME_IS_REQUIRED' | translate }}
            </ng-container>
            <ng-container *ngIf="userAddForm.controls['username'].hasError('minlength')">
              {{ 'USER.USERNAME_MINLENGTH' | translate }}
            </ng-container>
            <ng-container *ngIf="userAddForm.controls['username'].hasError('invalidIdentity')">
              {{ 'USER.USERNAME_EXIST' | translate }}
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'USER.ROLE_ID' | translate }}</mat-label>
          <mat-select placeholder="{{ 'USER.ROLE_ID' | translate }}" formControlName="roleId">
            <mat-option *ngFor="let role of roles" [value]="role?.id">{{ role?.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="userAddForm.controls['roleId'].hasError('required')">
            {{ 'USER.ROLE_ID_IS_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'USER.PASSWORD' | translate }}</mat-label>
          <input
            matInput
            type="password"
            placeholder="{{ 'USER.PASSWORD' | translate }}"
            formControlName="password"
            autocomplete="false"
          />
          <mat-error *ngIf="userAddForm.controls['password'].hasError('required')">
            {{ 'USER.PASSWORD_IS_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'USER.EMAIL' | translate }}</mat-label>
          <input matInput type="email" placeholder="{{ 'USER.EMAIL' | translate }}" formControlName="email" />
          <mat-error *ngIf="userAddForm.controls['email'].invalid">
            <ng-container *ngIf="userAddForm.controls['email'].hasError('required')">
              {{ 'USER.EMAIL_IS_REQUIRED' | translate }}
            </ng-container>
            <ng-container *ngIf="userAddForm.controls['email'].hasError('email')">
              {{ 'USER.EMAIL_ADDRESS' | translate }}
            </ng-container>
            <ng-container *ngIf="userAddForm.controls['email'].hasError('invalidIdentity')">
              {{ 'USER.EMAIL_EXIST' | translate }}
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'USER.CONTACT_PERSON' | translate }}</mat-label>
          <input matInput placeholder="{{ 'USER.CONTACT_PERSON' | translate }}" formControlName="contactPerson" />
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'USER.CONTACT_NO' | translate }}</mat-label>
          <input matInput placeholder="{{ 'USER.CONTACT_NO' | translate }}" formControlName="contactNo" />
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'USER.REMARKS' | translate }}</mat-label>
          <input matInput type="remarks" placeholder="{{ 'USER.REMARKS' | translate }}" formControlName="remarks" />
          <mat-error *ngIf="userAddForm.controls['remarks'].hasError('required')">
            {{ 'USER.REMARKS_IS_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-card fxFlex="100" class="mb-1">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-label>{{ 'USER.PHONE_NUMBERS' | translate }}</mat-label>
            <button type="button" mat-icon-button matTooltip="{{ 'APP.ADD_MORE' | translate }}" (click)="addPhone()">
              <mat-icon>add_box</mat-icon>
            </button>
          </div>
          <mat-card-content fxLayout="row wrap" fxFlex.xs="column wrap" fxFlex.sm="column wrap">
            <ng-container formArrayName="phoneNumbers" *ngFor="let item of phoneNumbers.controls; let i = index">
              <ng-container [formGroupName]="i">
                <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
                  <mat-label>{{ 'USER.PHONE_NO' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'USER.PHONE_NO' | translate }}" formControlName="phoneNo" />
                  <button
                    *ngIf="i > 0"
                    type="button"
                    matSuffix
                    mat-icon-button
                    matTooltip="{{ 'APP.REMOVE' | translate }}"
                    (click)="removePhone(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <mat-error *ngIf="getPhoneNumberControl(i).invalid">
                    <ng-container *ngIf="getPhoneNumberControl(i).hasError('required')">
                      {{ 'USER.PHONE_NO_IS_REQUIRED' | translate }}
                    </ng-container>
                    <ng-container *ngIf="getPhoneNumberControl(i).hasError('minlength')">
                      {{ 'USER.PHONE_NO_MINLENGTH' | translate }}
                    </ng-container>
                    <ng-container *ngIf="getPhoneNumberControl(i).hasError('invalidIdentity')">
                      {{ 'USER.PHONE_NO_EXIST' | translate }}
                    </ng-container>
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </ng-container>
          </mat-card-content>
        </mat-card>

        <mat-card fxFlex="100" class="mb-1">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-label>{{ 'USER.ADDRESSES' | translate }}</mat-label>
            <button type="button" mat-icon-button matTooltip="{{ 'APP.ADD_MORE' | translate }}" (click)="addAddress()">
              <mat-icon>add_box</mat-icon>
            </button>
          </div>

          <mat-card-content
            formArrayName="addresses"
            *ngFor="let item of addresses.controls; let i = index"
            fxLayout="row wrap"
            fxFlex.xs="column wrap"
            fxFlex.sm="column wrap"
          >
            <div *ngIf="i > 0" class="mb-1" fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
              <button
                *ngIf="i > 0"
                type="button"
                matSuffix
                mat-icon-button
                matTooltip="{{ 'APP.REMOVE' | translate }}"
                (click)="removeAddress(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <ng-container [formGroupName]="i">
              <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
                <mat-label>{{ 'USER.DISTRICT' | translate }}</mat-label>
                <input matInput placeholder="{{ 'USER.DISTRICT' | translate }}" formControlName="district" />
                <mat-error
                  *ngIf="
                    getAddressControl(i)
                      .get('district')
                      .hasError('required')
                  "
                >
                  {{ 'USER.DISTRICT_IS_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
                <mat-label>{{ 'USER.THANA' | translate }}</mat-label>
                <input matInput placeholder="{{ 'USER.THANA' | translate }}" formControlName="thana" />
                <mat-error
                  *ngIf="
                    getAddressControl(i)
                      .get('thana')
                      .hasError('required')
                  "
                >
                  {{ 'USER.THANA_IS_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
                <mat-label>{{ 'USER.POSTCODE' | translate }}</mat-label>
                <input matInput placeholder="{{ 'USER.POSTCODE' | translate }}" formControlName="postCode" />
                <mat-error
                  *ngIf="
                    getAddressControl(i)
                      .get('postCode')
                      .hasError('required')
                  "
                >
                  {{ 'USER.POSTCODE_IS_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
                <mat-label>{{ 'USER.DESCRIPTION' | translate }}</mat-label>
                <textarea
                  matInput
                  placeholder="{{ 'USER.DESCRIPTION' | translate }}"
                  formControlName="description"
                ></textarea>
                <mat-error
                  *ngIf="
                    getAddressControl(i)
                      .get('description')
                      .hasError('required')
                  "
                >
                  {{ 'USER.DESCRIPTION_IS_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>
            </ng-container>
          </mat-card-content>
        </mat-card>

        <div fxFlex="100" class="padding-lr-5">
          <mat-checkbox color="primary" formControlName="isEnabled">
            {{ 'APP.ACTIVE' | translate }}
          </mat-checkbox>
        </div>
      </mat-card-content>
    </mat-card>
  </form>

  <div class="floating-btn-modal">
    <button
      type="submit"
      class="float-save-btn"
      mat-fab
      form="userAddForm"
      [disabled]="!userAddForm.valid || userAddForm.pristine"
      color="primary"
      matTooltip="{{ 'APP.SAVE' | translate }}"
      matTooltipPosition="above"
    >
      <mat-icon aria-label="Save">save</mat-icon>
    </button>
  </div>
</div>
