<div class="custom-inner-wrap">
  <div class="text-right float-add-menu">
    <button mat-fab color="primary" class="m-r-5" matTooltip="{{ 'APP.SAVE' | translate }}" matTooltipPosition="above">
      <mat-icon class="material-icons">save</mat-icon>
    </button>
  </div>

  <form
    id="productAddForm"
    [formGroup]="productAddForm"
    class="filter-box"
    fxLayout="column"
    fxLayoutWrap="wrap"
    (submit)="addProduct()"
  >
    <mat-card>
      <mat-card-content fxLayout="row wrap" fxFlex.xs="column wrap" fxFlex.sm="column wrap">
        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'PRODUCT.TITLE' | translate }}</mat-label>
          <input matInput placeholder="{{ 'PRODUCT.TITLE' | translate }}" formControlName="title" />
          <mat-error *ngIf="productAddForm.controls['title'].hasError('required')">
            {{ 'PRODUCT.TITLE_IS_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'PRODUCT.SKU' | translate }}</mat-label>
          <input matInput placeholder="{{ 'PRODUCT.SKU' | translate }}" formControlName="sku" />
          <mat-error *ngIf="productAddForm.controls['sku'].invalid">
            <ng-container *ngIf="productAddForm.controls['sku'].hasError('required')">
              {{ 'PRODUCT.SKU_IS_REQUIRED' | translate }}
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'PRODUCT.DESCRIPTION' | translate }}</mat-label>
          <textarea
            matInput
            placeholder="{{ 'PRODUCT.DESCRIPTION' | translate }}"
            formControlName="description"
          ></textarea>
          <mat-error *ngIf="productAddForm.controls['description'].hasError('required')">
            {{ 'PRODUCT.DESCRIPTION_IS_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-card fxFlex="100">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-1">
            <mat-label>{{ 'PRODUCT.MANUFACTURE_DETAIL' | translate }}</mat-label>
          </div>
          <mat-card-content
            formGroupName="manufactureDetail"
            fxLayout="row wrap"
            fxFlex.xs="column wrap"
            fxFlex.sm="column wrap"
          >
            <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
              <mat-label>{{ 'PRODUCT.MODEL' | translate }}</mat-label>
              <input matInput placeholder="{{ 'PRODUCT.MODEL' | translate }}" formControlName="modelNo" />
              <mat-error *ngIf="manufactureDetail.controls['modelNo'].hasError('required')">
                {{ 'PRODUCT.MODEL_IS_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
              <mat-label>{{ 'PRODUCT.RELEASE_DATE' | translate }}</mat-label>
              <input
                matInput
                [matDatepicker]="myDatepicker"
                placeholder="{{ 'PRODUCT.RELEASE_DATE' | translate }}"
                formControlName="releaseDate"
              />
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
              <mat-error *ngIf="manufactureDetail.controls['releaseDate'].hasError('required')">
                {{ 'PRODUCT.RELEASE_DATE_IS_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <mat-card fxFlex="100" class="mb-1">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-label>{{ 'PRODUCT.PRODUCT_COLORS' | translate }}</mat-label>
            <button
              type="button"
              mat-icon-button
              matTooltip="{{ 'APP.ADD_MORE' | translate }}"
              (click)="addMoreProductColor()"
            >
              <mat-icon>add_box</mat-icon>
            </button>
          </div>

          <mat-card-content
            formArrayName="productColors"
            *ngFor="let item of productColors.controls; let i = index"
            fxLayout="row wrap"
            fxFlex.xs="column wrap"
            fxFlex.sm="column wrap"
          >
            <div *ngIf="i > 0" class="mb-1" fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
              <button
                *ngIf="i > 0"
                type="button"
                matSuffix
                mat-icon-button
                matTooltip="{{ 'APP.REMOVE' | translate }}"
                (click)="removeProductColor(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <ng-container [formGroupName]="i">
              <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
                <mat-label>{{ 'PRODUCT.COLOR_CODE' | translate }}</mat-label>
                <input matInput placeholder="{{ 'PRODUCT.COLOR_CODE' | translate }}" formControlName="colorCode" />
                <mat-error
                  *ngIf="
                    getProductColorControl(i)
                      .get('colorCode')
                      .hasError('required')
                  "
                >
                  {{ 'PRODUCT.COLOR_CODE_IS_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
                <mat-label>{{ 'PRODUCT.COLOR_NAME' | translate }}</mat-label>
                <input matInput placeholder="{{ 'PRODUCT.COLOR_NAME' | translate }}" formControlName="colorName" />
                <mat-error
                  *ngIf="
                    getProductColorControl(i)
                      .get('colorName')
                      .hasError('required')
                  "
                >
                  {{ 'PRODUCT.COLOR_NAME_IS_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
                <mat-label>{{ 'PRODUCT.IN_STOCK' | translate }}</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="{{ 'PRODUCT.IN_STOCK' | translate }}"
                  formControlName="inStock"
                />
                <mat-error
                  *ngIf="
                    getProductColorControl(i)
                      .get('inStock')
                      .hasError('required')
                  "
                >
                  {{ 'PRODUCT.IN_STOCK_IS_REQUIRED' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="
                    getProductColorControl(i)
                      .get('inStock')
                      .hasError('min')
                  "
                >
                  {{ 'PRODUCT.IN_STOCK_MIN' | translate }}
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
                <mat-label>{{ 'PRODUCT.IMAGES' | translate }}</mat-label>
                <input type="file" multiple placeholder="{{ 'PRODUCT.IMAGES' | translate }}" formControlName="images" />
                <mat-error
                  *ngIf="
                    getProductColorControl(i)
                      .get('images')
                      .hasError('required')
                  "
                >
                  {{ 'PRODUCT.IMAGES_IS_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field> -->


              <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
                <mat-label>{{ 'PRODUCT.SIZES' | translate }}</mat-label>
                <input matInput placeholder="{{ 'PRODUCT.SIZES' | translate }}" formControlName="sizes" />
                <mat-error
                  *ngIf="
                    getProductColorControl(i)
                      .get('sizes')
                      .hasError('required')
                  "
                >
                  {{ 'PRODUCT.SIZES_IS_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>

              <input type="file" multiple placeholder="{{ 'PRODUCT.IMAGES' | translate }}" formControlName="images" />


              <div fxFlex="100" class="padding-lr-5">
                <mat-checkbox color="primary" formControlName="isAvailable">
                  {{ 'PRODUCT.IS_AVAILABLE' | translate }}
                </mat-checkbox>
              </div>
            </ng-container>
          </mat-card-content>
        </mat-card>

        <!-- <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'PRODUCT.FEATURE_IMAGE' | translate }}</mat-label>
          <input
            type="file"
            multiple
            placeholder="{{ 'PRODUCT.FEATURE_IMAGE' | translate }}"
            formControlName="featureImageUrl"
          />
          <mat-error *ngIf="productAddForm.controls['featureImageUrl'].hasError('required')">
            {{ 'PRODUCT.FEATURE_IMAGE_IS_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field> -->

        <input
          type="file"
          placeholder="{{ 'PRODUCT.FEATURE_IMAGE' | translate }}"
          formControlName="featureImageUrl"
        />

        <div fxFlex="100" class="padding-lr-5">
          <mat-checkbox color="primary" formControlName="isEnabled">
            {{ 'APP.ACTIVE' | translate }}
          </mat-checkbox>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
