<div class="custom-inner-wrap">
  <div class="text-right float-add-menu">
    <button
      mat-fab
      color="primary"
      class="m-r-5"
      matTooltip="{{ 'PRODUCT.ADD_PRODUCT' | translate }}"
      matTooltipPosition="above"
      (click)="navigateAddProduct()"
    >
      <mat-icon class="material-icons">add</mat-icon>
    </button>
  </div>

  <mat-card class="mb-1">
    <mat-card-content>
      <div class="filter-box" align-items-center fxLayout="row" fxLayout.sm="column" fxLayoutWrap="wrap">
        <mat-form-field fxFlex="15" appearance="fill">
          <mat-label>{{ 'PRODUCT.STATUS' | translate }}</mat-label>
          <mat-select [(ngModel)]="shouldLoadAll" (selectionChange)="onSelectChange()">
            <mat-option *ngFor="let item of activeOptions" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="sl">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + (i + 1) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="featureImageUrl">
            <th mat-header-cell *matHeaderCellDef>{{ 'PRODUCT.FEATURE_IMAGE' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <img [src]="element.featureImageUrl" width="100" height="100" />
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>{{ 'PRODUCT.TITLE' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>{{ 'PRODUCT.DESCRIPTION' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
          </ng-container>

          <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef>{{ 'PRODUCT.SKU' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.sku }}</td>
          </ng-container>

          <ng-container matColumnDef="manufactureDetail">
            <th mat-header-cell *matHeaderCellDef>{{ 'PRODUCT.MANUFACTURE_DETAIL' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.manufactureDetail?.modelNo }}</td>
          </ng-container>

          <ng-container matColumnDef="pricing">
            <th mat-header-cell *matHeaderCellDef>{{ 'PRODUCT.PRICE' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.pricing?.price }}</td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>{{ 'PRODUCT.CREATED_AT' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'dd/MM/yyyy' }}</td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef>{{ 'PRODUCT.UPDATED_AT' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.updatedAt | date: 'dd/MM/yyyy' }}</td>
          </ng-container>

          <ng-container matColumnDef="isEnabled">
            <th mat-header-cell *matHeaderCellDef>{{ 'APP.ACTIVE' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle
                color="primary"
                [(ngModel)]="element.isEnabled"
                (change)="changeEnableStatus(element, statusDialog, $event)"
              >
              </mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-center" width="150">
              {{ 'APP.ACTION' | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <div class="button-row" class="text-center">
                <button mat-icon-button color="primary" (click)="navigateUpdateProduct(element)" matTooltip="Goto update product">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="updateProductColorImages(element)" matTooltip="Update product images">
                  <mat-icon aria-label="Update Images">perm_media</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteProduct(element, deleteDialog)" matTooltip="Delete product">
                  <mat-icon aria-label="Delete">delete_outline</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>

    <mat-card-content>
      <mat-paginator
        [length]="dataSource.count"
        [pageSize]="dataSource.pageSize"
        [pageSizeOptions]="[10, 20, 25]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #deleteDialog>
  <h1 mat-dialog-title>{{ 'APP.DELETE_CONFIRM_TITLE' | translate }}</h1>
  <div mat-dialog-content>
    <p>{{ 'PRODUCT.DELETE_PROMPT' | translate }}</p>
  </div>
  <div mat-dialog-actions class="text-right mb-0 pb-0 mat-dialog-actions-custom">
    <button mat-raised-button color="primary" [mat-dialog-close]="true" color="primary" tabindex="2">
      {{ 'APP.YES' | translate }}
    </button>
    <button mat-raised-button [mat-dialog-close]="false" tabindex="-1">
      {{ 'APP.NO' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #statusDialog>
  <h1 mat-dialog-title>{{ 'APP.STATUS_CONFIRM_TITLE' | translate }}</h1>
  <div mat-dialog-content>
    <p>{{ 'PRODUCT.CHANGE_STATUS_PROMPT' | translate }}</p>
  </div>
  <div mat-dialog-actions class="text-right mb-0 pb-0 mat-dialog-actions-custom">
    <button mat-raised-button color="primary" [mat-dialog-close]="true" color="primary" tabindex="2">
      {{ 'APP.YES' | translate }}
    </button>
    <button mat-raised-button [mat-dialog-close]="false" tabindex="-1">
      {{ 'APP.NO' | translate }}
    </button>
  </div>
</ng-template>
