<progress-bar></progress-bar>

<div class="modal-wrap">
  <mat-toolbar-row class="padding-lr-0 mb-1">
    <h2 class="mb-2">{{ 'PRODUCT.UPLOAD_PRODUCT_IMAGES' | translate }}</h2>
    <div class="close-modal">
      <mat-icon (click)="dialogRef.close()" aria-label="CANCEL">close</mat-icon>
    </div>
  </mat-toolbar-row>

  <form
    id="productColorImagesForm"
    [formGroup]="productColorImagesForm"
    class="filter-box"
    fxLayout="column"
    fxLayoutWrap="wrap"
    (submit)="updateImages()"
  >
    <mat-card class="mb-1">
      <mat-card-content>
        <div fxFlex="100" fxLayoutAlign="flex-start" fxLayout="row" class="mb-1">
          <div fxLayout="column" class="mr-1">
            <div class="feature-image">
              <img width="100" height="100" [src]="productListItem?.featureImageUrl" />
              <p class="ma-0">Feature Image</p>
            </div>
          </div>
          <div fxFlex="40" fxLayout="column" fxLayoutAlign="flex-start">
            <h3 class="ma-0"><b>Title</b>: {{ productListItem?.title }}</h3>
            <h3 class="ma-0"><b>SKU</b>: {{ productListItem?.sku }}</h3>
            <h3 class="ma-0"><b>Price</b>: TK. {{ productListItem?.pricing?.price }}</h3>
            <h3 fxLayout="row" class="ma-0">
              <b>Selected Color</b>:
              <div class="selected-product-color ml-1">
                <span [style.backgroundColor]="selectedColor"></span>
              </div>
            </h3>
          </div>
          <div fxFlex="30" *ngIf="uploadedImages.length" fxFlex="100" fxLayout="row wrap" fxFlex.xs="column wrap" fxFlex.sm="column wrap">
            <img class="ma-1" *ngFor="let image of uploadedImages" [src]="image" width="80" height="80">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxLayout="row wrap">
      <mat-card-content fxFlex="100" fxLayout="row wrap" fxFlex.xs="column wrap" fxFlex.sm="column wrap">
        <mat-form-field fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" appearance="fill">
          <mat-label>{{ 'PRODUCT.COLOR_CODE' | translate }}</mat-label>
          <mat-select
            placeholder="{{ 'PRODUCT.COLOR_CODE' | translate }}"
            formControlName="colorCode"
            [(ngModel)]="selectedColor"
            (selectionChange)="changeColor()"
          >
            <mat-option *ngFor="let productColor of productListItem?.productColors" [value]="productColor?.colorCode">
              <div class="product-color">
                {{ productColor?.colorName }} <span [style.backgroundColor]="productColor.colorCode"></span>
              </div>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productColorImagesForm.controls['colorCode'].hasError('required')">
            {{ 'PRODUCT.COLOR_CODE_IS_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <drag-drop-file-upload
        fxFlex="100"
        [uploadOnDemand]="true"
        [uploadUrl]="uploadUrl"
        #uploader
      ></drag-drop-file-upload>
    </mat-card>
  </form>

  <div class="floating-btn-modal">
    <button
      type="submit"
      form="productColorImagesForm"
      class="float-save-btn"
      mat-fab
      color="primary"
      [disabled]="!productColorImagesForm.valid || asyncService.loading"
      matTooltip="{{ 'APP.SAVE' | translate }}"
      matTooltipPosition="above"
    >
      <mat-icon aria-label="Save">save</mat-icon>
    </button>
  </div>
</div>
